﻿@model IEnumerable<Core_Empleados.Models.Employee>
<!----//IENUMERABLE ES UN COLLECTION DE .net-->

@{
    ViewData["Title"] = "Index";
}
<body >
    <h1>Lista empleados</h1>

    <p>
        <a asp-action="Create">Ingresar un nuevo empleado</a>


    </p>

    <form asp-controller="Employee" asp-action="Index" method="get">
        <p>
            Nombre del empleado: <input type="text" name="SearchString">
            <input type="submit" value="Buscar" />
            <a href="Index">Ver todos los empleados</a>
        </p>
    </form>
    <!--//del modelo que tengo obten el modelo que tiene el nombre indicado-->
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Empid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Empname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salary)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)//para cada articulo en el modelo, hasta la parte de abajo
                                       //texto edit que nos lleva a la funcion edit y que llevara el id del empleado y lo ultimo es de bottstrap, sera un boton
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Empid }, new { @class = "btn btn-primary" }) |

                        @Html.ActionLink("Details", "Detail", new { id = item.Empid }, new { @class = "btn btn-success" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Empid }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>

