﻿@model Client.Models.ClientModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ClientModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.client_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.client_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.client_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.client_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.client_credit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.client_credit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.client_age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.client_age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.client_email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.client_email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
