﻿@model Client.Models.ClientModel

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <h4>ClientModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.client_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.client_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.client_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.client_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.client_credit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.client_credit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.client_age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.client_age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.client_email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.client_email)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
