﻿@model Client.Models.ClientModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ClientModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="client_id" class="control-label"></label>
                <input asp-for="client_id" class="form-control" readonly/>
                <span asp-validation-for="client_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="client_name" class="control-label"></label>
                <input asp-for="client_name" class="form-control" />
                <span asp-validation-for="client_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="client_credit" class="control-label"></label>
                <input asp-for="client_credit" class="form-control" />
                <span asp-validation-for="client_credit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="client_age" class="control-label"></label>
                <input asp-for="client_age" class="form-control" />
                <span asp-validation-for="client_age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="client_email" class="control-label"></label>
                <input asp-for="client_email" class="form-control" />
                <span asp-validation-for="client_email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
