﻿@model IEnumerable<Client.Models.ClientModel>

@{
    ViewData["Title"] = "Index";
}
    <body>

        <form asp-controller="Client" asp-action="Index" method="get">
            <p>
                Nombre del cliente: <input type="text" name="SearchString">
                <input type="submit" value="Buscar" />

            </p>

        </form>

        <p>
            <a asp-action="Create" class="badge badge-info">Crear un nuevo cliente</a>
        </p>


        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.client_id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.client_name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.client_credit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.client_age)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.client_email)
                    </th>
                    <th>
                        Opciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.client_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.client_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.client_credit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.client_age)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.client_email)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.client_id }, new { @class = "btn btn-primary" }) |

                            @Html.ActionLink("Details", "Detail", new { id = item.client_id }, new { @class = "btn btn-success" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.client_id }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </body>